.vscode/**
src/**
.test-out/**
docs/**
out/**/*.map
esbuild.js
eslint.config.cjs
eslint.config.mjs
scripts/**
tsconfig.test.json
tsconfig.json
*.esproj
.gitignore
node_modules/**
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf
package-lock.json
